.jumbotron {
  padding-top: 7rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100;
}

#gallery .row > * {
  padding: 0;
}

/* My Keyboard Section */

.keyboard-box {
  position: relative;
  background-color: #0c6efd;
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;
}

.keyboard-box::before {
  content: "MY";
  position: absolute;
  color: #fff;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.keyboard-box:hover::before {
  opacity: 0.2;
}

.keyboard-box::after {
  content: "KEYBOARD";
  position: absolute;
  color: #fff;
  font-size: 4.3em;
  font-weight: bold;
  font-style: italic;
  top: 360px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.keyboard-box:hover::after {
  opacity: 0.2;
}

.keyboard-name {
  position: absolute;
  top: 0%;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 2em;
  transform: translate3d(0, 0, 50px);
  opacity: 0;
  transition: 0.5s;
}

.keyboard-box:hover .keyboard-name {
  top: 20px;
  opacity: 1;
}
.keyboard-detail-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 150px);
  opacity: 0;
  transition: 0.5s;
}

.keyboard-box:hover .keyboard-detail-button {
  opacity: 1;
  bottom: 10px;
}

.keyboard-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -47%, 100px);
  max-width: 400px;
  transition: 0.5s;
}

.keyboard-box:hover .keyboard-img {
  transform: translate3d(-50%, -47%, 100px) rotate(5deg) scale(1.1);
}
